# DATABASE_URL=postgresql://postgres:W1kvHeY36xzerqbU@db.zbcggdzyymxibpmblhjy.supabase.co:5432/postgres
DATABASE_URL = postgresql://neondb_owner:npg_Rd0im5tQqkEC@ep-divine-darkness-ayds5h3m-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Individual variables used by the app
# user="postgres"
# password="W1kvHeY36xzerqbU"
# host="db.zbcggdzyymxibpmblhjy.supabase.co"
# port=5432
# dbname="postgres"
